body {
    background-color: #333333;
    color: #dddddd;
    font-family: sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto;
}

.terminal {
    grid-area: 1 / 2 / 1 / 2;
    border: 2px solid #777777;
}

.instructions {
    grid-area: 2 / 2 / 2 / 2;
}

a {
    color: #ffffff;
}

pre {
    background: #0f0f0f;
}

td.word, td.signature {
    font-family: monospace;
    font-weight: bold;
    padding-right: 1em;
}
